In [ ]:
# While loops

In [ ]:
i=1
while(i<6):
   print(i)
   i=i+1

1
2
3
4
5

In [ ]:
n=int(input("Enter the last number:"))
i=1
sum=0
while(i<=n):
   sum=sum+i
   i=i+1
print("Sum of natural numbers:",sum)

Enter the last number:5
Sum of natural numbers: 15

In [ ]:
# Break Statement:break statement  can stop the loop even if the while condition is true

In [ ]:
i=1
while(i<6):
   print(i)
   if(i==3):
    break
   i=i+1

1
2
3

In [ ]:
#Continue Satement:continue statement can stop the current iteration, and continue with the next

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
#else Statement:else statement  can run a block of code once when the condition no longer is true

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [ ]:
# For Loop:A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string

In [ ]:
cars=['Ford','Audi','Maruti']
for i in cars:
    print(i)

Ford
Audi
Maruti

In [ ]:
#Looping Through a String

In [ ]:
for i in "DataScience":
     print(i)

D
a
t
a
S
c
i
e
n
c
e

In [ ]:
cars=['Ford','Audi','Maruti']
for i in cars:
  if (i=="Audi"):
      break
  print(i)

Ford

In [ ]:
cars=['Ford','Audi','Maruti']
for i in cars:
  print(i)
  if (i=="Audi"):
      break

Ford
Audi

In [ ]:
cars=['Ford','Audi','Maruti']
for i in cars:
  if (i=="Audi"):
      continue
  print(i)

Ford
Maruti

In [ ]:
#range() Function : To loop through a set of code a specified number of times, we can use the range() function,
#The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [ ]:
for i in range(2,6):
    print(i)

2
3
4
5

In [ ]:
for i in range(1,5):
    print(i)

1
2
3
4

In [ ]:
#The range() function defaults to increment the sequence by 1,
# however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3)

In [ ]:
for i in range(2,30,3):
     print(i)

2
5
8
11
14
17
20
23
26
29

In [ ]:
# Else Keyword: else keyword in a for loop specifies a block of code to be executed when the loop is finished

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [ ]:
for x in range(6):
  if x == 3:
    break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
#pass Statement
#for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error

In [ ]:
for x in [0, 1, 2]:
  pass